In [1]:
import pandas as pd

data=pd.read_csv('Amazon Sale Report - Amazon Sale Report.csv.csv')

df=data.copy()

C:\Users\Dell\AppData\Local\Temp\ipykernel_15532\217354305.py:3: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv('Amazon Sale Report - Amazon Sale Report.csv.csv')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      122103 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128942 non-null  object
 18  ship-postal-code    128942 non-null  float64
 19  ship-country        128942 non-null  object
 20  promotion-ids       79822 non-null   object
 21  B2B                 128975 non-null  bool
 22  fulfilled-by        39277 non-null   object
 23  Unnamed: 22         79925 non-null   object
dtypes: bool(1), float64(2), int64(2), object(19)
memory usage: 22.8+ MB

In [3]:
proba_nulls=df.isnull().mean()*100

In [4]:
df=df.drop(columns=['Unnamed: 22','fulfilled-by'],axis=1)

In [5]:
df['ship-postal-code']=df['ship-postal-code'].fillna(0).astype('int32').astype(str)
df['Amount']=df['Amount'].fillna(0)

In [6]:
df['Date']=pd.to_datetime(df['Date'],errors='coerce')
df['day']=df['Date'].dt.day
df['month']=df['Date'].dt.month
df['year']=df['Date'].dt.year

C:\Users\Dell\AppData\Local\Temp\ipykernel_15532\1109508872.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date']=pd.to_datetime(df['Date'],errors='coerce')

In [7]:
df.loc[df['Courier Status'].isna() & (df['Qty']>=1),'Courier Status'] = 'Shipped'
df.loc[df['Courier Status'].isna() & (df['Qty']==0),'Courier Status'] = 'Cancelled'

In [8]:
df['currency']=df['currency'].fillna('INR')
df['ship-city']=df['ship-city'].fillna('Unknown')
df['ship-state']=df['ship-state'].fillna('Unknown')
df['ship-country']=df['ship-country'].fillna('Unknown')
df['Amount']=df['Amount'].fillna('Unknown')
df['promotion-ids']=df['promotion-ids'].fillna(df['promotion-ids'].mode()[0])

In [9]:
df.head()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,day,month,year
0,0,405-8078784-5731545,2022-04-30,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,647.62,MUMBAI,MAHARASHTRA,400081,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,30,4,2022
1,1,171-9198151-1101146,2022-04-30,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,406.00,BENGALURU,KARNATAKA,560085,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,30,4,2022
2,2,404-0687676-7273146,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,329.00,NAVI MUMBAI,MAHARASHTRA,410210,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,30,4,2022
3,3,403-9615377-8133951,2022-04-30,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,753.33,PUDUCHERRY,PUDUCHERRY,605008,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,30,4,2022
4,4,407-1069790-7240320,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,574.00,CHENNAI,TAMIL NADU,600073,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,30,4,2022

In [ ]:
df.info()

In [ ]:
df.to_csv('Amazon_cleaned_dataset.csv',index=False)

In [10]:
print(df.columns)

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'day', 'month', 'year'],
      dtype='object')